h1 {
    line-height: 128px;
    color: white;
    /* background-color: red; */
    /* background-color: rgb(255, 128, 128); */
    /* background-color: hsl(0, 50%, 50%); */
    /* background-color: rgba(255, 0, 128, 0); */
    background-color: hsla(0, 50%, 50%, 0);
}